.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f7f7f7;
}

.login-box {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-btn {
  padding: 12px;
  margin-top: 15px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #145dc6;
}
